* {
    box-sizing: border-box;
}

body {
    background-color: #f05b56;
    transition: background-color 1s;
}

main#user-interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#timerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 30px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

button.timerMenuButton {
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

code#timerDisplay {
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 120px;
    font-weight: 600;
    margin-top: 20px;
}

button#startButton {
    background-color: white;
    color: #f05b56;
    border: none;
    border-radius: 5px;
    margin: 20px 0 0;
    padding: 0 12px;
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    height: 55px;
    width: 200px;
    font-weight: bold;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
}

button#startButton:focus,
button#todoOptionBtn:focus,
button#addTodoBtn:focus,
button.timerMenuButton:focus {
    outline: none;
}

div#todoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 28px;
}

div#headerDiv {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 0 14px;
    border-bottom: 1.5px solid white;
    font-family: 'Varela Round', sans-serif;
}

button#todoOptionBtn {
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 18px;
    padding: 2px;
    width: 32px;
    height: 32px;
}

div#headerDiv span {
    font-size: 18px;
    font-weight: bold;
}

button#addTodoBtn {
    border: 2px dashed rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
    margin: 12px 0 0;
    width: 100%;
    height: 60px;
    color: white;
    opacity: 0.8;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

div#addTodoDiv {
    background-color: white;
    width: 100%;
    margin-top: 12px;
    padding: 0;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    color: #555555;
    font-size: 16px;
}

div#inputDiv {
    margin: 10px;
}

input#inputField {
    width: 100%;
    font-size: 22px;
    border: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    padding: 10px 0;
}

input#inputField:focus {
    outline: none;
}

div#addTodoDiv span {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    display: block;
    margin-bottom: 10px;
}

div#addTodoDiv input[type="number"] {
    background-color: rgb(239, 239, 239);
    border: none;
    font-size: 16px;
    padding: 10px;
    color: rgb(85, 85, 85);
    width: 75px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

div#confirmationDiv {
    padding: 14px 20px;
    display: flex;
    justify-content: flex-end;
    background-color: #efefef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

button.confirmationBtn {
    border: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #888888;
}

::-webkit-input-placeholder {
    color: silver;
}

div#todo ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

div#todo ul li {
    background-color: white;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 10px;
    margin-top: 8px;
}

div#todo ul li span {
    margin-left: 6px;
}